# this section describes general aspects of the live streaming session
[general]
duration        = 0         # duration of encoding, in seconds. 0 means forever
bufferSecs      = 1         # size of internal slip buffer, in seconds
reconnect       = yes       # reconnect to the server(s) if disconnected
realtime        = yes       # run the encoder with POSIX realtime priority
rtprio          = 3         # scheduling priority for the realtime threads

# this section describes the audio input that will be streamed

[input]
device          = hw:1,0    # OSS DSP soundcard device for the audio input
sampleRate      = 44100     # other settings have crackling audo, esp. 44100
bitsPerSample   = 16        # bits per sample. try 16
channel         = 1         # channels. 1 = mono, 2 = stereo

# this section describes a streaming connection to an IceCast2 server
# there may be up to 8 of these sections, named [icecast2-0] ... [icecast2-7]
# these can be mixed with [icecast-x] and [shoutcast-x] sections
[icecast2-0]
bitrateMode     = cbr
format          = mp3
# format        = aacp
bitrate         = 320
# bitrate       = 64
server          = 54.89.215.33       # URL of IceCast2 server
port            = 8000               # Port of IceCast2 server
password        = MyAdminPassword    # or whatever you set your icecast2 password to
mountPoint      = echoberry-ydf
name            = Echoberry-YDF
description     = EchoBerry YDF @ NewFoundLand
url             = http://rpi.echo.com
genre           = echoberry
public          = no
localDumpFile   = recording.m4a
