[Unit]
Description=DarkIce live audio streamer
After=network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/echoberry/install.env
ExecStart=/usr/local/bin/darkice -c /etc/darkice.cfg
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
