[Unit]
Description=EchoBerry magnetic switch controller (YUL)
After=network-online.target sound.target darkice.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/echoberry
ExecStart=/usr/bin/python3 /home/pi/echoberry/src/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
